[submodule "LuaJIT"]
	path = LuaJIT
	url = https://github.com/LuaJIT/LuaJIT
[submodule "fhk5"]
	path = fhk5
	url = https://github.com/menu-hanke/fhk5
[submodule "sqlite"]
	path = sqlite
	url = https://github.com/sqlite/sqlite
